<div class="card-bodystyle" >
 
    <div class="card mb-3 Card-style" *ngIf="recipe" >
        <span (click)="returnMainPage()" class="icon-class"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg></span>
          <div style="width: 80%;" >
            <h1 style="color: white; text-align: center; margin-bottom: 50px;">{{recipe.title}}
            </h1>
            <div class=" g-0" style=" display: flex; justify-content: center; width: 100%; padding-bottom: 100px;">
                <!-- <div class="col-md-4">
                    <img src="burger.jpg" class="img-fluid rounded-start" alt="...">
                </div> -->
                <div  style="width: 800px; display: flex; flex-direction: column; ">
                    <div class="card-body">
                    <p class="card-text texts-style" >{{recipe.description}} </p>
                    <hr>
                    <p class="card-text texts-style" >{{recipe.ingredients}} </p>
                  
                   <hr>
                   <p class="card-text texts-style"> {{recipe.instructions}}</p>                    <hr>
                    </div>
                    <div style="display: flex;  justify-content: space-around; align-items: center;">
                        <button class="btn primary"> რედაქტირება</button>
                        <button class="btn primary primary2"> წაშლა</button>
                    </div>
                </div>
            </div>
          </div>
       
  </div>

</div>