<div class="main-container" *ngIf="recipeForm">
  <div class="form-container card mb-3 Card-style">
    <span (click)="closeNewCard()" class="icon-class">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg>
    </span>
    <h1 class="form-title">Add Recipe</h1>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="formgroupclass">
      <div class="inside-divs">
        <div class="form-group">
          <label for="title">Title *</label>
          <input id="title" type="text" formControlName="title" placeholder="Enter Title" class="form-control">
          <div *ngIf="recipeForm.get('title')?.invalid && recipeForm.get('title')?.touched" class="invalid-feedback">
            <small *ngIf="recipeForm.get('title')?.errors?.['required']">Title is required.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description *</label>
          <input id="description" type="text" formControlName="description" placeholder="Enter Description" class="form-control">
          <div *ngIf="recipeForm.get('description')?.invalid && recipeForm.get('description')?.touched" class="invalid-feedback">
            <small *ngIf="recipeForm.get('description')?.errors?.['required']">Description is required.</small>
          </div>
        </div>
      </div>

      <div class="inside-divs">
        <div class="form-group">
          <label for="ingredients">Ingredients *</label>
          <textarea id="ingredients" formControlName="ingredients" placeholder="Enter Ingredients" class="form-control"></textarea>
          <div *ngIf="recipeForm.get('ingredients')?.invalid && recipeForm.get('ingredients')?.touched" class="invalid-feedback">
            <small *ngIf="recipeForm.get('ingredients')?.errors?.['required']">Ingredients are required.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="instructions">Instructions *</label>
          <textarea id="instructions" formControlName="instructions" placeholder="Enter Instructions" class="form-control"></textarea>
          <div *ngIf="recipeForm.get('instructions')?.invalid && recipeForm.get('instructions')?.touched" class="invalid-feedback">
            <small *ngIf="recipeForm.get('instructions')?.errors?.['required']">Instructions are required.</small>
          </div>
        </div>
      </div>

      <div class="inside-divs">
        <div class="container mt-5">
          <label for="img">Add Image *</label>
          <div class="upload-box">
            <input type="file" formControlName="img" id="img" class="form-control" accept="image/*">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            <div *ngIf="recipeForm.get('img')?.invalid && recipeForm.get('img')?.touched" class="invalid-feedback">
              <small *ngIf="recipeForm.get('img')?.errors?.['required']">Image is required.</small>
              <small *ngIf="recipeForm.get('img')?.errors?.['pattern']">Enter a valid image URL.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="button-div">
        <button 
        type="submit" 
        [disabled]="recipeForm.invalid" 
        class="btn save"
        [ngClass]="{'btn-secondary': recipeForm.invalid, 'btn-primary': !recipeForm.invalid}">
        Submit
      </button>
            </div>
    </form>
  </div>
</div>